@model IList<UniversityDataBase.Models.Student>

<!DOCTYPE html>

<html>
<head>
    <title>Request 10 by semester</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body>
<h3>Request 10 by semester</h3>
<div>
    <table class="main_table">
        <thead>
        <tr>
            <th>Full Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Name)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
</body>
</html>