@model UniversityDataBase.Views.Main.Request11

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Request 11</title>
</head>
<body>
<h3>Request 11</h3>

<div>
    <h4>By cafedra</h4>
    @using (Html.BeginForm("Req11_1", "Main", FormMethod.Post))
    {
        <div class="form">
            <div class="input_group">
                @Html.LabelFor(model => model.Cafedra, "The number of group")
                <div class="input_field">
                    @Html.DropDownListFor(model => model.Cafedra, ViewBag.cafedras as SelectList)
                </div>
            </div>
            <input class="main_button" type="submit" value="Select"/>
        </div>
    }
    <h4>By teacher</h4>
    @using (Html.BeginForm("Req11_2", "Main", FormMethod.Post))
    {
        <div class="form">
            <div class="input_group">
                @Html.LabelFor(model => model.Teacher, "The number of group")
                <div class="input_field">
                    @Html.DropDownListFor(model => model.Teacher, ViewBag.teachers as SelectList)
                </div>
            </div>
            <input class="main_button" type="submit" value="Select"/>
        </div>
    }

</div>
</body>
</html>